{% extends "main.html" %}
{% block content %}

  {% include "header.html" %}
    <div class="container-fluid">
      <div class="row">

        {% include "leftsidebar.html" %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">{{title}}</h1>
          <div class="col-lg-6">
            <form class="input-group add-item" method="POST">
              <input type="text" class="form-control" placeholder="name" name="name" value="{{item.name}}">
              <input type="text" class="form-control" placeholder="description" name="description" value="{{item.description}}">
              <input type="text" class="form-control" placeholder="price" name="price" value="{{item.price}}">
              <button class="btn btn-default btn-success" type="submit">Submit</button>
            </form><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div>

      </div>
    </div>


{% endblock %}
